/* Tipografía */
*{
    font-family: 'Poor Story', cursive;
}
/* Propiedades del body */
body{
    background: #042225;
    box-sizing: border-box;
    padding: 0% 1%;
}
/* Propiedades y adaptabilidad de la calculadora */
.calculadora{
    margin:0 auto;
    padding:3% 5% 0% 5%;
    width:100%;
    height: 98vh;
    border-radius: 25px;
    border-radius: 14px;
    background: linear-gradient(90deg, rgb(8, 180, 169), rgb(13, 179, 194));
    box-shadow:  5px 5px 9px #0a5359,-5px -5px 9px #0e7983;
}
.calculadora button{
    display:block;
    width:97%;
    height: 97%;
    font-family: Poor Story, Helvetica, sans-serif;
    font-size: clamp(2.5rem, 4.5vw, 4rem);
    border-radius: 14px;
    background: linear-gradient(145deg, #c4c4c4, #ffffff);
    box-shadow:  5px 5px 9px #0b919c;
}
.calculadora button:hover{
    cursor: pointer;
}
#creditos{
    display:flex;
    justify-content: center;
    color:#fff;
    text-align: center;
    width:300px;
    margin: auto;
}
#resultado{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: clamp(3rem, 5vw, 5rem);
    padding: 0px 5px;
    margin: 30px 0px;
    height: 100%;
    line-height: 100px;
    border-radius: 8px;
    border: #f0f0f0 solid 2px;
    background: linear-gradient(145deg, #c4c4c4, #ffffff);
    box-shadow:  5px 5px 9px #0b919c;
    font-family: Poor Story, Helvetica, sans-serif;
    overflow-y: scroll;
}
/*Estilos del scroll bar en la pantalla de resultados*/
#resultado::-webkit-scrollbar{
    width: 9px;
}
#resultado::-webkit-scrollbar-track{
    background:rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
}
#resultado::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color:rgba(55, 177, 169, 0.8);
}
/* Estilos específicos de los botones */
button{
    border-radius: 4px;
    border: solid 2px #f0f0f0;
    background-color: #fff;
}
/* Estilos botón modo día y noche */
.bnoche{
    display: flex;
    font-size: 50px;
    text-decoration: none;
    color: #0a5359;
    justify-content: center;
    text-align: center;
}
/*      MODO NOCHE      */
/* Estilos del modo noche */
.calculadora.modonoche{
    margin:0 auto;
    padding:3% 5% 0% 5%;
    width:100%;
    height: 98vh;
    border-radius: 25px;
    border-radius: 14px;
    background: linear-gradient(90deg, rgb(0, 72, 68), rgb(4, 82, 89));
    box-shadow:  5px 5px 9px #127882,-5px -5px 9px #095259;
}
.bnoche.modonoche{
    color:#0b919c;
}
/* Estilos específicos por botón
La explicación de esta prática se encuentra comentada en el documeno index.js */
#siete.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}
#ocho.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}
#nueve.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}
#division.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}
#cuatro.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}
#cinco.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}
#seis.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}
#multiplicacion.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}
#uno.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}
#dos.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}
#tres.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}
#resta.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}
#igual.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}
#reset.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}
#cero.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}#suma.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}
#resultado.modonoche{
    border: #131313;
    box-shadow:  5px 5px 9px #0b919c;
    color: white;
    background: linear-gradient(145deg, #131313, #4b4b4b);
}